* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 50px;
  height: 113px;
}

.header__icon {
  background-color: white;
  padding: 16px;
  border-radius: 50%;
}

.header__icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__menu-icon {
  padding: 19px 14px;
  z-index: 3;
}

.header__menu-icon span {
  transition: all 0.3s ease 0s;
}

.header__menu-icon span:nth-child(1),
.header__menu-icon span:nth-child(2) {
  display: block;
  width: 22px;
  height: 2px;
  background: #393838;
  border-radius: 10px;
}

.header__menu-icon span:nth-child(2) {
  margin: 3px 0;
}

.header__menu-icon span:nth-child(3) {
  display: block;
  width: 13px;
  height: 2px;
  background: #393838;
  border-radius: 10px;
}

.header__menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 4px);
}

.header__menu-icon.active span:nth-child(2) {
  transform: rotate(-45deg);
}

.header__menu-icon.active span:nth-child(3) {
  transform: scale(0);
}

.header__logo-container {
  width: 180px;
  height: 58px;
  position: relative;
}

.header__logo_green {
  position: absolute;
  top: 0;
  left: 0;
}

.header .visible {
  opacity: 1;
  display: block;
  transition: all 2s ease;
}

.header .hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 2s ease;
}

.header__pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 1100px;
  transition: all 0.9s ease-in-out 0.2s;
}

.header__pop-up.active {
  visibility: visible;
  transform: translateX(0);
}

.header__pop-up.hidden {
  visibility: hidden;
  transition: all 0.9s ease-in-out 0.6s;
  transform: translateX(-100%);
}

.pop-up-container {
  max-width: 1060px;
  display: flex;
  padding: 260px 0 0 203px;
}

.nav {
  width: 364px;
  margin-right: 20px;
}

.nav__top {
  width: 100%;
  font-family: 'Playfair Display', serif;
  list-style: none;
  margin-bottom: 112px;
}

.nav__top-item {
  margin-bottom: 25px;
}

.nav__top-link {
  font-size: 30px;
  line-height: 30px;
  color: #202020;
  text-decoration: none;
}

.nav__top-link:hover {
  color: #024B1D;
}

.nav__bottom {
  width: 100%;
  list-style: none;
}

.nav__bottom-item {
  margin-bottom: 20px;
}

.nav__bottom-link {
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #202020;
  text-decoration: none;
}

.nav__bottom-link:hover {
  color: #E5CE90;
}

.nav-item_1.active {
  animation: nav-items-appearing 1s ease-out 0.2s;
}

.nav-item_1.hidden {
  animation: nav-items-disappearing 1s ease-out 0.6s;
}

.nav-item_2.active {
  animation: nav-items-appearing 1s ease-out 0.3s;
}

.nav-item_2.hidden {
  animation: nav-items-disappearing 1s ease-out 0.5s;
}

.nav-item_3.active {
  animation: nav-items-appearing 1s ease-out 0.4s;
}

.nav-item_3.hidden {
  animation: nav-items-disappearing 1s ease-out 0.4s;
}

.nav-item_4.active {
  animation: nav-items-appearing 1s ease-out 0.5s;
}

.nav-item_4.hidden {
  animation: nav-items-disappearing 1s ease-out 0.3s;
}

.nav-item_5.active {
  animation: nav-items-appearing 1s ease-out 0.6s;
}

.nav-item_5.hidden {
  animation: nav-items-disappearing 1s ease-out 0.2s;
}

.nav-item_6.active {
  animation: nav-items-appearing 1s ease-out 0.7s;
}

.nav-item_6.hidden {
  animation: nav-items-disappearing 1s ease-out 0.1s;
}

.nav-item_7.active {
  animation: nav-items-appearing 1s ease-out 0.8s;
}

.nav-item_7.hidden {
  animation: nav-items-disappearing 1s ease-out;
}

.about {
  max-width: 363px;
}

.contacts__title {
  font-size: 30px;
  line-height: 30px;
  color: #202020;
  margin-bottom: 40px;
}

.contacts__location {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 71px;
}

.contacts__email, .contacts__phone, .contacts__fax {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 13px;
}

.social {
  margin-top: 71px;
  max-width: 214px;
}

.social__title {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #202020;
}

.social__container {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link_vk {
  margin-right: 15px;
}

.social__icon {
  fill: white;
}

.social__icon path {
  transition: fill 0.6s ease;
  fill: #066035;
}

.social__icon:hover {
  fill: url(#paint0_linear);
}

.social__icon:hover path {
  fill: white;
}

.outer-wrapper {
  transition: all 0.8s ease;
  transform: translateX(100%);
}

.outer-wrapper.slick-initialized {
  transform: translateX(0);
}

.screen-wrapper {
  outline: none;
}

.screen {
  max-width: 1920px;
  height: 980px;
}

.main-screen {
  display: flex;
  background: url("../img/main/bg-main.png") no-repeat center/100%;
}

.main-screen.animated {
  animation: scaleBg 1s linear forwards;
}

.main-screen.animated-reverse {
  animation: scaleBgReverse 2s linear forwards;
}

.main-screen__text {
  z-index: 2;
  margin: 220px 0 0 127px;
}

.fog {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fog__first {
  animation: fog-appearing 20s linear infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url("../img/main/fog-1.png");
}

.fog__second {
  animation: fog-appearing 20s linear infinite reverse;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url("../img/main/fog-2.png");
}

.tagline {
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFEFE;
  margin-bottom: 25px;
}

.sub-tagline {
  font-size: 18px;
  line-height: 22px;
  color: #FFFEFE;
}

.screen-2 {
  position: relative;
  display: flex;
}

.screen-2__img-left {
  position: relative;
  margin: 110px 97px 0 127px;
}

.screen-2__img-left .img-left {
  max-width: 516px;
}

.screen-2__content {
  position: relative;
  margin-top: 224px;
}

.screen-2__title {
  font-size: 70px;
  line-height: 70px;
  color: #393838;
}

.screen-2__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #393838;
  margin: 38px 0 50px 0;
  max-width: 898px;
}

.screen-2__img-right {
  position: relative;
  margin: 0 50px 0 auto;
  max-width: 593px;
  max-height: 382px;
}

.screen-2__img-right .img-right {
  max-width: 100%;
  height: auto;
}

.screen-2__leaf.parallax-right-to-left {
  animation: parallaxLeaf-right-to-left 3s ease forwards;
}

.screen-2__leaf.parallax-right-to-left_2 {
  animation: parallaxLeaf-right-to-left_2 3s ease forwards;
}

.screen-2__leaf.parallax-left-to-right {
  animation: parallaxLeaf-left-to-right 3s ease forwards;
}

.screen-2__leaf.parallax-left-to-right_2 {
  animation: parallaxLeaf-left-to-right_2 3s ease forwards;
}

.screen-2__leaf-2 {
  position: absolute;
  bottom: 70px;
  right: 700px;
}

.screen-2__leaf-3 {
  position: absolute;
  top: -100px;
  right: -70px;
}

.screen-2__leaf-4 {
  position: absolute;
  right: 130px;
  top: -100px;
}

.screen-number {
  font-family: Petersburg;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.28341px;
  color: #CCDACF;
}

.screen-3 {
  display: flex;
  position: relative;
}

.screen-3__img-left {
  margin-right: 97px;
}

.screen-3__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen-3__title {
  font-size: 70px;
  line-height: 70px;
  color: #393838;
}

.screen-3__subtitle {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #393838;
  margin: 38px 0 50px 0;
  max-width: 823px;
}

.screen-3__leaf.parallax-right-to-left {
  animation: parallaxLeaf-right-to-left 3s ease forwards;
}

.screen-3__leaf.parallax-right-to-left_2 {
  animation: parallaxLeaf-right-to-left_2 3s ease forwards;
}

.screen-3__leaf.parallax-left-to-right {
  animation: parallaxLeaf-left-to-right 3s ease forwards;
}

.screen-3__leaf.parallax-left-to-right_2 {
  animation: parallaxLeaf-left-to-right_2 3s ease forwards;
}

.screen-3__leaf-2 {
  position: absolute;
  width: 190px;
  height: 112px;
  top: 300px;
  left: -90px;
  transform: rotate(10deg);
}

.screen-3__leaf-4 {
  position: absolute;
  width: 220px;
  height: 140px;
  right: 100px;
  bottom: 30px;
}

.screen-3__leaf-5 {
  position: absolute;
  top: 420px;
  right: 560px;
}

.screen-3__img-right {
  width: 593px;
  height: 376px;
  margin: 0 127px 105px auto;
}

.screen-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video .video-preview {
  max-width: 100%;
}

.icon-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-play:hover {
  cursor: pointer;
}

.icon-play:hover .circle-1 {
  opacity: 0.5;
}

.icon-play:hover .circle-2 {
  opacity: 0.15;
}

.screen-5 {
  display: flex;
}

.screen-5__img-left {
  position: relative;
}

.screen-5__content {
  position: relative;
  margin: 234px 0 0 309px;
}

.screen-5__title {
  font-size: 70px;
  line-height: 70px;
}

.screen-5__subtitle {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin: 35px 0 70px 0;
  max-width: 892px;
}

.screen-5__leaf.parallax-right-to-left {
  animation: parallaxLeaf-right-to-left 3s ease forwards;
}

.screen-5__leaf.parallax-right-to-left_2 {
  animation: parallaxLeaf-right-to-left_2 3s ease forwards;
}

.screen-5__leaf.parallax-left-to-right {
  animation: parallaxLeaf-left-to-right 3s ease forwards;
}

.screen-5__leaf.parallax-left-to-right_2 {
  animation: parallaxLeaf-left-to-right_2 3s ease forwards;
}

.screen-5__leaf-1 {
  position: absolute;
  width: 130px;
  height: 110px;
  top: 100px;
  left: 380px;
}

.screen-5__leaf-2 {
  position: absolute;
  width: 160px;
  height: 100px;
  top: -85px;
  left: -210px;
}

.screen-5__leaf-3 {
  position: absolute;
  width: 185px;
  height: 210px;
  right: 140px;
  bottom: 70px;
  transform: rotate(10deg);
}

.screen-5__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpiumNewC;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #066035;
  background: linear-gradient(#066035, #074627);
  width: 269px;
  height: 72px;
}

.screen-5__button:hover .screen-5__button-text {
  color: white;
  background: linear-gradient(#066035, #074627);
}

.screen-5__button-text {
  transition: all 0.3s linear;
  display: block;
  padding: 12px 37px;
  background: white;
}

.packages {
  position: absolute;
  bottom: -15px;
  left: 50px;
}

@keyframes fog-appearing {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  25% {
    transform: translate(-175px, 0);
    opacity: 0.5;
  }
  50% {
    transform: translate(-350px, 0);
    opacity: 1;
  }
  75% {
    transform: translate(-525px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-700px, 0);
    opacity: 0;
  }
}

@keyframes nav-items-appearing {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes nav-items-disappearing {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes scaleBg {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes scaleBgReverse {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes parallaxLeaf-right-to-left {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes parallaxLeaf-right-to-left_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes parallaxLeaf-left-to-right {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes parallaxLeaf-left-to-right_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
