* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 50px;
    }

    &__icon {
        background-color: rgba(255, 255, 255, 1);
        padding: 16px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &__menu-icon {
        padding: 19px 14px;
        z-index: 3;

        span {
            transition: all 0.3s ease 0s;
        }

        span:nth-child(1),
        span:nth-child(2) {
            display: block;
            width: 22px;
            height: 2px;
            background: #393838;
            border-radius: 10px;
        }

        span:nth-child(2) {
            margin: 3px 0;
        }

        span:nth-child(3) {
            display: block;
            width: 13px;
            height: 2px;
            background: #393838;
            border-radius: 10px;
        }

        &.active {
            span:nth-child(1) {
                transform: rotate(45deg) translate(3px, 4px);
            }

            span:nth-child(2) {
                transform: rotate(-45deg);
            }

            span:nth-child(3) {
                transform: scale(0);
            }
        }
    }

    &__logo-container {
        position: relative;
    }

    &__logo {
        width: 180px;
        height: 58px;
    }

    &__logo_green {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 58px;
    }

    .visible {
        opacity: 1;
        display: block;
        transition: all 2s ease;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 2s ease;
    }

    &__lang-icon {}

    &__pop-up {
        position: fixed;

        top: 0;
        left: 0;
        background: white;
        height: 100%;
        width: 1100px;
        transition: all 0.9s ease-in-out 0.2s;

        &.active {
            visibility: visible;
            transform: translateX(0);
        }

        &.hidden {
            visibility: hidden;
            transition: all 0.9s ease-in-out 0.6s;
            transform: translateX(-100%);
        }
    }
}

.pop-up-container {
    max-width: 1060px;
    display: flex;
    padding: 260px 0 0 203px;
}

.nav {
    width: 364px;
    margin-right: 20px;

    &__top {
        width: 100%;
        font-family: 'Playfair Display', serif;
        list-style: none;
        margin-bottom: 112px;
    }

    &__top-item {
        margin-bottom: 25px;
    }

    &__top-link {
        font-size: 30px;
        line-height: 30px;
        color: #202020;
        text-decoration: none;

        &:hover {
            color: #024B1D;
        }
    }

    &__bottom {
        width: 100%;
        list-style: none;
    }

    &__bottom-item {
        margin-bottom: 20px;
    }

    &__bottom-link {
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        color: #202020;
        text-decoration: none;

        &:hover {
            color: #E5CE90;
        }
    }
}

.nav-item {

    &_1 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.2s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.6s;
        }
    }

    &_2 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.3s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.5s;
        }
    }

    &_3 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.4s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.4s;
        }
    }

    &_4 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.5s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.3s;
        }
    }

    &_5 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.6s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.2s;
        }
    }

    &_6 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.7s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out 0.1s;
        }
    }

    &_7 {
        &.active {
            animation: nav-items-appearing 1s ease-out 0.8s;
        }

        &.hidden {
            animation: nav-items-disappearing 1s ease-out;
        }
    }

}

.about {
    max-width: 363px;
}

.contacts {

    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #202020;
        margin-bottom: 40px;
    }

    &__location {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 71px;
    }

    &__email,
    &__phone,
    &__fax {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 13px;
    }
}

.social {
    margin-top: 71px;
    max-width: 214px;

    &__title {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 20px;
        color: #202020;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__link {

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {}

        &_twitter {}

        &_instagram {}

        &_vk {
            margin-right: 15px;
        }
    }

    &__icon {
        fill: white;

        path {
            fill: #066035;
        }

        &:hover {
            fill: url(#paint0_linear);

            path {
                fill: white;
            }
        }
    }
}

.outer-wrapper {}

.screen-wrapper {}

.screen {
    max-width: 1920px;
    height: 980px;
}

.main-screen {

    display: flex;
    background: url("../img/main/bg-main.jpg") no-repeat center/cover;


    &__text {
        z-index: 2;
        margin: 220px 0 0 127px;
    }

}

.fog {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;


    &__first {
        animation: fog-appearing 20s linear infinite;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/main/fog-1.png');
    }

    &__second {
        animation: fog-appearing 20s linear infinite reverse;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('../img/main/fog-2.png');
    }
}

.tagline {
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #FFFEFE;
    margin-bottom: 25px;
}

.sub-tagline {
    font-size: 18px;
    line-height: 22px;
    color: #FFFEFE;
}

.screen-2 {
    position: relative;
    display: flex;

    &__img-left {
        position: relative;
        margin: 110px 97px 0 127px;

        .img-left {
            max-width: 516px;

        }

    }

    &__content {
        position: relative;
        margin-top: 224px;
    }

    &__title {
        font-size: 70px;
        line-height: 70px;
        color: #393838;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        color: #393838;
        margin: 38px 0 50px 0;
        max-width: 898px;
    }

    &__img-right {
        position: relative;
        margin: 0 50px 0 auto;
        max-width: 593px;
        max-height: 382px;

        .img-right {
            max-width: 100%;
            height: auto;
        }
    }

    &__leaf-2 {
        position: absolute;
        bottom: 70px;
        left: -300px;
    }

    &__leaf-3 {
        position: absolute;
        top: -100px;
        right: -70px;
    }

    &__leaf-4 {
        position: absolute;
        right: 130px;
        top: -100px;
    }
}

.screen-number {
    font-family: Petersburg;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.28341px;
    color: #CCDACF;
}

.screen-3 {
    display: flex;
    position: relative;

    &__img-left {
        margin-right: 97px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    &__title {
        font-size: 70px;
        line-height: 70px;
        color: #393838;

    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.2px;
        color: #393838;
        margin: 38px 0 50px 0;
        max-width: 823px;
    }

    &__leaf-2 {
        position: absolute;
        width: 190px;
        height: 112px;
        top: 300px;
        left: -90px;
        transform: rotate(10deg)
    }

    &__leaf-4 {
        position: absolute;
        width: 220px;
        height: 140px;
        right: 100px;
        bottom: 30px;
    }

    &__leaf-5 {
        position: absolute;
        top: 420px;
        right: 560px;
    }

    &__img-right {
        width: 593px;
        height: 376px;
        margin: 0 127px 105px auto;

        .river-img {}
    }

}

.screen-4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {

    .video-preview {
        max-width: 100%;
    }

}



.icon-play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        cursor: pointer;

        .circle-1 {
            opacity: 0.5;
        }

        .circle-2 {
            opacity: 0.15;
        }
    }
}

.screen-5 {
    display: flex;

    &__img-left {
        position: relative;
    }

    &__content {
        position: relative;
        margin: 234px 0 0 309px;
    }

    &__title {
        font-size: 70px;
        line-height: 70px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.2px;
        margin: 35px 0 70px 0;
        max-width: 892px;
    }

    &__leaf-1 {
        position: absolute;
        width: 130px;
        height: 110px;
        top: 100px;
        left: 380px;
    }

    &__leaf-2 {
        position: absolute;
        width: 160px;
        height: 100px;
        top: -85px;
        left: -210px;
    }

    &__leaf-3 {
        position: absolute;
        width: 185px;
        height: 210px;
        right: 140px;
        bottom: 70px;
        transform: rotate(10deg)
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: OpiumNewC;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-decoration: none;
        color: #066035;
        background: linear-gradient(#066035, #074627);
        width: 269px;
        height: 72px;

        &:hover &-text {
            color: white;
            background: linear-gradient(#066035, #074627);
        }
    }

    &__button-text {
        transition: all 0.3s linear 0s;
        display: block;
        padding: 12px 37px;
        background: white;
    }

}

.field {}

.packages {
    position: absolute;
    bottom: -15px;
    left: 50px;
}

@keyframes fog-appearing {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    25% {
        transform: translate(-175px, 0);
        opacity: 0.5;
    }

    50% {
        transform: translate(-350px, 0);
        opacity: 1;
    }

    75% {
        transform: translate(-525px, 0);
        opacity: 0.5
    }

    100% {
        transform: translate(-700px, 0);
        opacity: 0;
    }
}

@keyframes nav-items-appearing {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes nav-items-disappearing {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}