* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 50px;
}

.header__icon {
  background: white;
  padding: 14px;
  border-radius: 50%;
}

.header__logo {
  width: 180px;
  height: 58px;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.main-screen {
  background: url("/img/BG-main.jpg") no-repeat center/cover;
}

.main-screen__text {
  margin: 284px 0 0 127px;
  max-width: 607px;
}

.tagline {
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFEFE;
  margin-bottom: 25px;
}

.sub-tagline {
  font-family: OpiumNewC;
  font-size: 18px;
  line-height: 22px;
  color: #FFFEFE;
}

.screen-2 {
  position: relative;
  display: flex;
}

.screen-2__img-left {
  width: 516px;
  height: 681px;
  margin: 110px 97px 0 127px;
}

.screen-2__content {
  margin-top: 224px;
  width: 1053px;
}

.screen-2__title {
  font-size: 70px;
  line-height: 70px;
  color: #393838;
}

.screen-2__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #393838;
  margin: 45px 0 70px 0;
}

.screen-2__img-right {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 593px;
  height: 382px;
  display: none;
}

.screen-number {
  font-family: Petersburg;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.28341px;
  color: #CCDACF;
}

.leaf-4 {
  width: 111px;
  height: 54px;
  bottom: 19px;
}
