body {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 50px;
}

.header__icon {
  background: white;
  padding: 14px;
  border-radius: 50%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.main-screen {
  background: url("volga-it/img/BG-main.jpg") no-repeat center/cover;
}

.main-screen__text {
  margin: 284px 0 0 127px;
  max-width: 607px;
}

.tagline {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFEFE;
  margin-bottom: 25px;
}

.sub-tagline {
  font-family: OpiumNewC;
  font-size: 18px;
  line-height: 22px;
  color: #FFFEFE;
}

.screen-2 {
  background: url("/img/BG-main.jpg") no-repeat center/cover;
}
