* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 50px;
}

.header__icon {
  background-color: white;
  padding: 16px 16px;
  border-radius: 50%;
}

.header__icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__logo {
  width: 180px;
  height: 58px;
}

.header__logo-top.green path {
  fill: #024B1D;
}

.header__logo-bottom {
  width: 180px;
  height: 6px;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.main-screen {
  background: url("/img/main/bg.jpg") no-repeat center/cover;
}

.main-screen__text {
  margin: 284px 0 0 127px;
  max-width: 607px;
}

.tagline {
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFEFE;
  margin-bottom: 25px;
}

.sub-tagline {
  font-size: 18px;
  line-height: 22px;
  color: #FFFEFE;
}

.screen-2 {
  position: relative;
  display: flex;
}

.screen-2__img-left {
  position: relative;
  width: 516px;
  height: 681px;
  margin: 110px 97px 0 127px;
}

.screen-2__content {
  position: relative;
  margin-top: 224px;
  width: 1053px;
}

.screen-2__title {
  font-size: 70px;
  line-height: 70px;
  color: #393838;
}

.screen-2__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #393838;
  margin: 38px 0 50px 0;
  max-width: 898px;
}

.screen-2__img-right {
  position: absolute;
  bottom: 0;
  right: 25px;
  width: 610px;
  height: 370px;
}

.screen-2__leaf-2 {
  position: absolute;
  width: 200px;
  height: 120px;
  bottom: 50px;
  right: 600px;
}

.screen-2__leaf-3 {
  position: absolute;
  width: 220px;
  height: 250px;
  top: -100px;
  right: -70px;
}

.screen-2__leaf-4 {
  position: absolute;
  width: 120px;
  height: 70px;
  right: 55px;
  top: 265px;
}

.screen-number {
  font-family: Petersburg;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.28341px;
  color: #CCDACF;
}

.screen-3 {
  display: flex;
  position: relative;
}

.screen-3__img-left {
  margin-right: 97px;
}

.screen-3__content {
  position: relative;
  max-width: 823px;
  margin-top: 481px;
}

.screen-3__title {
  font-size: 70px;
  line-height: 70px;
  color: #393838;
}

.screen-3__subtitle {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: #393838;
  margin: 38px 0 50px 0;
}

.screen-3__leaf-2 {
  position: absolute;
  width: 170px;
  height: 100px;
  top: -170px;
  left: -85px;
  transform: rotate(10deg);
}

.screen-3__leaf-4 {
  position: absolute;
  width: 210px;
  height: 140px;
  right: -250px;
  bottom: 30px;
}

.screen-3__leaf-5 {
  position: absolute;
  width: 110px;
  height: 100px;
  top: -60px;
  right: 200px;
}

.screen-3__img-right {
  position: absolute;
  top: 0;
  right: 127px;
}

.screen-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 1666px;
  height: 745px;
  margin-top: 20px;
}

.icon-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-play:hover {
  cursor: pointer;
}

.icon-play:hover .circle-1 {
  opacity: 0.5;
}

.icon-play:hover .circle-2 {
  opacity: 0.15;
}

.screen-5 {
  display: flex;
}

.screen-5__img-left {
  position: relative;
}

.screen-5__content {
  position: relative;
  margin: 234px 0 0 309px;
}

.screen-5__title {
  font-size: 70px;
  line-height: 70px;
}

.screen-5__subtitle {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin: 35px 0 70px 0;
  max-width: 892px;
}

.screen-5__leaf-1 {
  position: absolute;
  width: 130px;
  height: 110px;
  top: 100px;
  left: 380px;
}

.screen-5__leaf-2 {
  position: absolute;
  width: 160px;
  height: 100px;
  top: -85px;
  left: -210px;
}

.screen-5__leaf-3 {
  position: absolute;
  width: 185px;
  height: 210px;
  right: 140px;
  bottom: 70px;
  transform: rotate(10deg);
}

.screen-5__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpiumNewC;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #066035;
  background: linear-gradient(#066035, #074627);
  width: 269px;
  height: 72px;
}

.screen-5__button:hover .screen-5__button-text {
  color: white;
  background: linear-gradient(#066035, #074627);
}

.screen-5__button-text {
  display: block;
  padding: 12px 37px;
  background: white;
}

.packages {
  position: absolute;
  bottom: -15px;
  left: 50px;
}
